.botonNro{
   height: 100%; 
   width: 85%;
   font-size:40px !important;
  
}
.botonText{
    height: 100%; 
    width: 85%;
    font-size:26px !important;
   
 }
.rowCalc{
    margin-top: 5px;
    margin-left: none;
    min-height: 80px ;
}
.dni{
    background: none;
    border:none !important;
    width: 100%;
    text-align: center;
    height: 100px;
    font-size: 100px;
    color: #FFF;
    text-shadow: 2px 0 0 #000;
}
.b{color: #FFF;}